*
!apps/
apps/*
!apps/crud-service/
apps/crud-service/*
!apps/crud-service/Dockerfile
!apps/crud-service/README.md
!apps/crud-service/src/
apps/crud-service/src/*
!apps/crud-service/src/pyproject.toml
!apps/crud-service/src/crud_service/
!apps/crud-service/src/crud_service/**

.git/
.azure/
.githooks/
.github/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.tmp/
.vscode/
htmlcov/
__pycache__/
**/__pycache__/
**/.venv/
*.egg-info/
.coverage
coverage-summary.json