name: build-push

on:
  push:
    branches: [main]

permissions:
  contents: read
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      REGISTRY: ghcr.io/${{ github.repository_owner }}
    steps:
      - uses: actions/checkout@v4
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build images
        run: |
          for d in apps/*; do
            image_name=$(basename "$d")
            docker build -t "$REGISTRY/$image_name:latest" -f "$d/src/Dockerfile" "$d"
          done

  push:
    needs: build
    runs-on: ubuntu-latest
    env:
      REGISTRY: ghcr.io/${{ github.repository_owner }}
    steps:
      - uses: actions/checkout@v4
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push images
        run: |
          for d in apps/*; do
            image_name=$(basename "$d")
            docker build -t "$REGISTRY/$image_name:latest" -f "$d/src/Dockerfile" "$d"
            docker push "$REGISTRY/$image_name:latest"
          done
